.home{
    color: white;
    max-height: fit-content;
}
.main{
    background-color: black;
    color: white;
}

  .card {
    margin-bottom: 20px; /* Adds space between rows */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
    margin-top: 5vh;
    background-color: rgb(108, 11, 132);
    color: aliceblue;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-row {
    margin-right: 20px; /* Ensure no gap between cards in the same row */
  }