.hero{
    align-items: center;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    height: 560px;
    padding:20px
    
}
.hero_title{
    color: #e4e6ea;
    font-family: Cairo;
    font-size: 51px;
    font-weight: 700;
    line-height: 96px;
    margin-bottom: 8px;

}
.hero_subtitle{
    color: #e4e6ea;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 24px;
}
.image{
    text-align: center;
    
}
.section_main{
    background-image: linear-gradient(rgba(228, 230, 234, 0.3), rgba(228, 230, 234, 0.3)) !important;
    background-position: left top !important;
    background-size: auto !important;
    background-repeat: no-repeat !important;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.sub_main{
    padding-left: 10px;
    padding-right: 10px;
}
.section_title{
    color: #363636;
    font-size: 28px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 0;
    font-family: Cairo;
    font-style: normal;
    
}
.section_subtitle{
    color: #4b4b4b;
    font-size: 21px;
    font-weight: 500;
    line-height: 39px;
    font-family: Cairo;
    font-style: normal;
}
.card-body{
    background: #f7f8f9;
    border-radius: 10px;
    box-shadow: 0 4px 30px 5px rgba(115, 122, 154, .13);
    margin-bottom: 16px;
    margin-right: 25px;
    padding: 32px 32px 48px;
}
.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 24px;
}
.box {
    background: #f7f8f9;
    border-radius: 10px;
    box-shadow: 0 4px 30px 5px rgba(115, 122, 154, .13);
    margin-bottom: 16px;
    margin-right: 25px;
    padding: 32px 32px 48px;
}
.box__title {
    color: #534f5f;
    font-family: Cairo;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 25px;
}
.box__content {
    color: #363636;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}