/* General Container Styling */
.custom-card-carousel-wrapper {
  background-color: white;
  padding: 1rem 0;
 position: relative;
  
}

.custom-container-box {
  background-color: #f7f7f7;
  width: 100%;
  margin-top: -3rem;
}

/* Card Styling */
.custom-carousel-card {
  background: #1366ae;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 6%;;
  
  height: 80vh;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-carousel-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

/* Image Container */
.custom-carousel-image-container {
  height: 50%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.custom-carousel-image {
  width: 100%;
  height:40vh;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  
  
}

/* Content Section */
.custom-carousel-content {
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
}

.custom-carousel-heading {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.custom-carousel-description {
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height:1.2;
}

.custom-carousel-button {
  background-color: white;
  color: blue;
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-carousel-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.slick-prev {
  margin-left: 6vh;
  z-index: 999 !important;
  height: 2vh !important;
  

}
.slick-prev:before, .slick-next:before {
  color: grey !important;
  height: 10vh !important;
  font-size: 40px !important;
  
}

.slick-next {
  margin-right: 6vh;
  
}
/* Slider Adjustments */
.slick-slide {
  margin: 0 10px;
  height: 100%;
}

.slick-dots li button:before {
  color: #007bff;
}



.slick-list {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
}

.slick-track {
  display: flex !important;
  margin-bottom: 0% !important;
  margin-left: auto;
  margin-right: auto;
}
